#jumbotron .background{
  background-color: black;
  opacity: 0.3;
}

#jumbotron .down-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0,0,1);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#play-game-btn:hover {
  background-color: rgb(189, 189, 189);
}

#play-game-btn{
  cursor:pointer;
  transition: all 0.5s ease;
  color: black;
  font-size: 20px;
  padding: 15px 70px;
  background-color: white;
  border-radius: 40px;
}

.bottom-content {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 6.3%;
  height: 20%;
}

#jumbotron .bottom-content{
  font-weight: 500;
}

.left-text{
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 4%;
}

.information p{
  letter-spacing: 2px;
}

.information .center{
  padding: 100px 0px;
}

#gameDialog{
  padding: 2rem 3rem;
  color: black;
  position: absolute;
  bottom: 8%;
  width: 70%;
  border-radius: 1.5rem;
  height: fit-content;
  background-color: rgba(20, 20, 20, 0.899);
  left: 50%;
  transform: translateX(-50%);
}

#gameDialog img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.text-dialog {
  color: rgb(88, 28, 0);
}

#gameDialogContentContainer{


}




#gameDialog  #gameDialogContent{
  color: white;
  margin-top: 20px;
}

#gameCarousel {
}

#carousel-root{
  padding: 70px;
  background-size: cover;
  background-image: url('/assets/border.png');
}
.carousel-inner {
  border-radius: 30px;
}

#game-joypad{
  position: absolute;
  bottom: 3%;
  left: 3%;
  display: none;
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

#game-joypad .pad:active{
  background-color: rgba(0, 0, 0, 0.493);
}

#game-joypad .pad{
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
}


.carousel-image {
  margin-left: 2px;
  border-radius: 10px;
  margin-top: 40px;
  width: 500px;
  height: 400px;
}

.carousel-item{
  position: relative;
}


#game-hud  svg{
  cursor: pointer;
  opacity: 30%;
  z-index: 20;
}

#game-hud{
  display: flex;
  gap: 2px;
  position: absolute;
  right: 5%;
  top: 5%;
}



#game-container{
  position: absolute;
}

.carousel-item h2{
  position: absolute;
  top: -45px;
  text-transform: uppercase;
  font-family: consolas;
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  left: 85px;
}

.bottom-content-inside{
  display: flex;
}

/* Change Bootstrap Next and Prev Icon */
.carousel-control-prev-icon {
  margin-top: 30px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6e340e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
   margin-top: 30px;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6e340e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 @media only screen and (max-width: 700px) {
  .jumbotron-title{ 
    display: none;
  }
  .carousel-image {
    margin-left: 2px;
    border-radius: 10px;
    margin-top: 40px;
    width: 300px;
    height: 230px;
  }
  .carousel-item h2 {
    left: 40px;
    top: -55px;
  }
  .bottom-content-inside{
    gap: 15px;
    flex-direction: column;
  }
  .game-hider .mobile-view img {
    position: absolute;
    left: 0;
    top:0 ;
    width: 100%;
    height: 100%;
  }
  .game-hider .mobile-view{
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
 }
 
 @media only screen and (max-width: 500px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }
  
  .bottom-content {
    bottom: 5%;
  }

  .carousel-control-next, .carousel-control-prev {
    width: 25% !important;
  }

  #carousel-root {
    padding: 60px;
  }
  .carousel-image {
    margin-left: 2px;
    border-radius: 10px;
    margin-top: 10px;
    width: 180px;
    height: 150px;
  }
  .carousel-item h2 {
    font-size: 20px;
    left: 20px;
    top: -50px;
  }
 }
 @media only screen and (max-width: 350px) {
  .carousel-item h2 {
    font-size: 15px;
    left: 0px;
    top: -53px;
  }
  .carousel-image {
    margin-left: 2px;
    border-radius: 10px;
    margin-top: 10px;
    width: 120px;
    height: 80px;
  }
 }

 @media screen and (orientation:landscape) {
  .carousel-image {
    margin-left: 2px;
    border-radius: 10px;
    margin-top: 40px;
    width: 250px;
    height: 180px;
  }
  .carousel-item h2 {
    left: 40px;
    top: -55px;
  }
  }
