#jumbotron .background{
  background-color: black;
  opacity: 0.3;
}

#jumbotron .down-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0,0,1);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#play-game-btn:hover {
  background-color: rgb(189, 189, 189);
}

#play-game-btn{
  cursor:pointer;
  transition: all 0.5s ease;
  color: black;
  font-size: 20px;
  padding: 15px 70px;
  background-color: white;
  border-radius: 40px;
}

.bottom-content {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 6.3%;
  height: 20%;
}

#jumbotron .bottom-content{
  font-weight: 500;
}

.left-text{
  width: 50%;
  height: 50%;
  bottom: 0;
  left: 4%;
}

.information p{
  letter-spacing: 2px;
}

.information .center{
  padding: 100px 0px;
}

#gameDialog{
  padding: 2.6rem 5rem;
  color: black;
  position: absolute;
  bottom: 30px;
  width: 100%;
  background-size: cover;
  background-image: url('/assets/dialog.png');
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  min-height: 300px;
}

.text-dialog {
  color: rgb(88, 28, 0);
}

#gameDialog h3 {
  margin-left: 130px;
}

#gameDialog  #gameDialogContent{
  margin-top: 40px;
}

#gameCarousel {
}

#carousel-root{
  padding: 70px;
  background-size: cover;
  background-image: url('/assets/border.png');
}
.carousel-inner {
  border-radius: 30px;
}


.carousel-image {
  margin-left: 2px;
  border-radius: 10px;
  margin-top: 40px;
  width: 500px;
  height: 400px;
}

.carousel-item{
  position: relative;
}

.carousel-item h2{
  position: absolute;
  top: -45px;
  font-family: consolas;
  opacity: 1;
  color: white;
  font-weight: 500;
  left: 85px;
}

/* Change Bootstrap Next and Prev Icon */
.carousel-control-prev-icon {
  margin-top: 30px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6e340e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
   margin-top: 30px;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%6e340e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
