
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4B4B4B;
  font-family: sans-serif;
}

.consolas {
  font-family: consolas;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.w-full{
  width: 100%;
}

.h-full {
  height: 100%;
}


.debug {
  background-color: red;
}

.w-fit{
  width: fit-content;
}

.h-fit{
  height: fit-content;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.z-1{
  z-index: 1;
}

.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
.z-4{
  z-index: 4;
}
.z-5{
  z-index: 5;
}

.w-h-full {
  width: 100%;
  height: 100%;
}

section {
}


* {
scrollbar-width: auto;
scrollbar-color: #ffffff #ffffff;
}
*::-webkit-scrollbar {
width: 0px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #ffffff;
border-radius: 10px;
border: 3px solid #ffffff;
}

.beach-list{
  padding: 5rem 8rem;
}

.beach-list .date{
  letter-spacing: 0.1rem;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   color: rgb(56, 56, 56);
}

.beach-list .left{
  width: 40%;
}

.beach-list .img-container img{
  width: 100%;
  height: 300px;
}

.beach-list .img-container {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.beach-list .button{
  background-color: black;
  color: white;
  font-weight: 500;
  margin-top: 10px;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}

.beach-list .title{
  font-weight: 700;
  font-size: 24px;
}

.beach-list .content {
  font-weight: 500;
  line-height: 2rem;
}

.beach-list .middle{
  justify-content: center;
  align-items: center;
  display: flex;
}

.beach-list .left-container {
  top: 60px;
} 

.beach-list .middle .line{
  width: 1px;
  height: 80%;
  background-color: gray;
  opacity: 50%;
}

.beach-list .left-inside{
  width: 400px;
}

.information  p{
  font-size: 20px;
  line-height: 25px;
  /* font-weight: 500; */
}

.information .container {
  padding: 100px 0px;
}

.last-div{
  height: 30px;
}

.cursor-pointer{
  cursor: pointer;
}

