
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(21, 21, 21);
}


.inter{
  font-family: 'Inter', sans-serif;
}

.min-h-screen {
  min-height: 100vh;
}

.pixel {
  font-family: 'Pixelify Sans', consolas,  sans-serif;
}

.consolas {
  font-family: consolas;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.w-full{
  width: 100%;
}

.h-full {
  height: 100%;
}


.debug {
  background-color: red;
}

.w-fit{
  width: fit-content;
}

.h-fit{
  height: fit-content;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-center{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.z-1{
  z-index: 1;
}

.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
.z-4{
  z-index: 4;
}
.z-5{
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.w-h-full {
  width: 100%;
  height: 100%;
}

section {
}


* {
scrollbar-width: auto;
scrollbar-color: #ffffff #ffffff;
}
*::-webkit-scrollbar {
width: 0px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #ffffff;
border-radius: 10px;
border: 3px solid #ffffff;
}

.beach-list{
  padding: 5rem 8rem;
}

.beach-list .date{
  letter-spacing: 0.1rem;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 500;
   color: rgb(56, 56, 56);
}

.beach-list .left{
  width: 40%;
}

#beachRoot {
  width: 60%;
}


.beach-list .img-container iframe{
  border-radius: 0;
  width: 100%;
  height: 270px;
}

.beach-list .img-container {
  /* margin-top: 30px; */
  width: 100%;
  /* border-radius: 100px !important; */
  overflow: hidden;
}

.beach-list .button:hover{
  background-color: rgb(23, 23, 23);
}

.beach-list .button{
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 500;
  margin-top: 10px;
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}

.beach-list-container .title{
  font-weight: 700;
  font-size: 60px;
  width: 70%;
}

.beach-list img{
  width: 400px;
  height: 250px;
  border-radius: 30px;
}

.beach-list-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 200px 0px;
}

.beach-list .content {
  opacity: 75%;
  color: rgb(99, 99, 99);
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2rem;
}


.beach-list .middle{
  justify-content: center;
  align-items: center;
  display: flex;
}

.beach-list .left-container {
  top: 60px;
  position: absolute;
  height: 100%;
} 



.beach-list .left-container .sticky {
  position: sticky;
  top: 40px;
}

.beach-list .middle .line{
  width: 1px;
  height: 60%;
  background-color: gray;
  opacity: 20%;
}

.beach-list .left-inside{
  width: 400px;
}

.information p{
  width: 50%;
  margin: 0 auto;
  padding: 0px 50px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}



.information .container {
  padding: 100px 0px;
}

.last-div{
  height: 30px;
}

.cursor-pointer{
  cursor: pointer;
}

.hardware{
  top: -100px;
  transition: all 1s ease;
}

.hardware button {
  margin-left: 10px;
  padding: 5px 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.hardware button:hover {
  background-color: rgb(30, 30, 30);
}

.hardware .bulb {
  width: 20px;
}
.quote {
  width: 40%;
  margin-top: 10px;
  opacity: 80%;
  color: rgb(84, 84, 84);
}

.link {
  position: relative;
  width: 30px;
  height: 30px;
}

.link svg{
  transition: all 0.2s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}



.link svg:hover{
  top: -5px;
}



/* Section Two */
@media only screen and (max-width: 1200px) {
  .information p {
    width: 100%;
  }
  .beach-list{
    flex-direction: column;
  }
  .beach-list .left {
    width: 100%;
  }
  .beach-list .sticky {
    position: relative !important;
    width: 100%;
  }
  .beach-list .left-inside {
    width: 100%;
  }
  .beach-list .middle{
    display: none ;
  }
  .left-container{
    position: relative !important;
  }
  .left-inside .date{
    font-size: 40px;
    font-weight: 700;
  }
  .beach-list .img-container iframe{
    height: 500px;
  }
  .beach-list-container {
    align-items: center;
  }

  .beach-list img {
    width: 550px;
    height: 350px;
    border-radius: 30px;
  }

  .beach-list .content {
    width: 80%;
    margin-top: 20px;
  }

  #beachRoot {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 400px){
  .information img {
    width: 300px !important;
    height: 150px !important;
  }
}

@media only screen and (max-width: 600px) {
  
  .quote {
    width: 80%;
    margin-top: 10px;
    opacity: 80%;
    color: rgb(84, 84, 84);
  }
  .hardware .bulb 
  {
    display: none ;
  }
  .information img {
    width: 400px;
    height: 250px;
  }
  .information h1{
    padding: 0px 20px;
  }
  .information p {
    font-size: 15px;
  }
  .left-container{
    padding: 20px;
  }
  #beachRoot{
    padding: 20px;
  }

  .beach-list .date{
    width: 100% !important;
    text-align: left;
  }
  .beach-list-container .title {
    font-size: 50px;
    text-align: left;
    width: 100%;
  }

  .beach-list .content {
    width: 98%;
    text-align: left;
    margin-top: 20px;
  }
  .beach-list img {
    width: 100%;
    height: auto ;
    border-radius: 30px;
  }
  #last-section img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .beach-list .img-container iframe {
    height: 300px;
  }
}

